/* Font Stuff */
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');

@font-face {
    font-family: gothamNarrow;
    src: url(../fonts/GothamNarrow-Book.otf);
}

@font-face {
    font-family: gothamNarrow;
    src: url(../fonts/GothamNarrow-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: gothamNarrow;
    src: url(../fonts/GothamNarrow-Light.otf);
    font-weight: 200;
}

/* Styles */
/* Extra large devices (large desktops) */
/* No media query since the extra-large breakpoint has no upper bound on its width */
body {
    min-width: 100%;
    font-family: gothamNarrow;
    font-size: 14px;
    background-color: #ffffff;
}

.container {
    width: 100%;
}

nav {
    height: 40px;
    min-width: 320px;
    text-transform: uppercase;
    background-color: #323232;
    font-weight: 200;
    /* hover: #4c4f62; */
}

nav ul {
    /*height: 50px;*/
    /*line-height: 50px;*/
    /*width: 5*/

}

nav li {
    list-style-type: none;
    display: inline;
    margin-right: 50px;
    /*height: 500px;*/
    /*width: 50px;*/
    padding-right: 50px;
    border-right: 1px solid #2a2a2a;

}

nav ul li a {
    color: gray;
    font-size: 0.8em;
    text-align: center;
}

.cinzel {
    font-family: 'Cinzel', Georgia, 'Times New Roman', serif;
    font-weight: 400;
    color: #ffffff;
}



hr {
    background: #8d97d7;
    width: 17%;
    height: 2px;
}

.logo {
    max-height: 24px;
    margin-left: 15px;
}

.img-span {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /*display: block;*/
    min-width: 100%;
    /*position: relative;*/
}

#hero {
    background-image: url('../media/hero-img.jpg');
    height: 636px;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}

#hero h1{
    font-size: 1.6rem;
    line-height: 1em;

}

#hero h2 {
    margin-top: 20px;
    font-size: 6.5rem;
    line-height: .9em;
}

#hero-text {

}

#inside-heading {
    display: table;
    /*width: 842px;*/
    margin: 0 auto;
    padding: 25px 0;
    color: #000;
/*    font-family: 'Cinzel', Georgia,'Times New Roman';
    font-weight: 400;
    font-style: normal;
    font-size: 8em;
    line-height: 1em;
    text-transform: uppercase;*/
}

#inside {
    background-image: url('../media/inside-img.jpg');
    height: 469px;
}

#inside a {
    font-family: 'Oswald'; sans-serif
    color: #ffffff;
    text-transform: uppercase;
}

.quote {
    height: 450px;
    text-shadow: none;
}
.quote q {
    font-size: 3rem;
    line-height: 1.3rem;
}

.quote p {
    font-size: 1rem;
    margin: .5rem;
}
#greyjoy {
    background-image: url('../media/greyjoy-quote.jpg');
    height: 450px;
}

#jon {
    background-image: url('../media/jon-quote.jpg');
    height: 450px;
}

#brienne {
    background-image: url('../media/brienne-quote.jpg');
    height: 450px;
}

#sansa {
    background-image: url('../media/sansa-quote.jpg');
    height: 450px;
}
.explore-episode {
    margin: 20px auto 0;
    color: #191919;
    overflow: hidden;
}

.explore-episode h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    margin: 2px 0;
}
.explore-episode a {
    color: #191919
}
.explore-episode p {
    font-family: 'gothamNarrow', sans-serif;
    font-size: 0.8rem;
    line-height: 1.2em;
    margin: 2px 0;
}

.explore-episode img {
    width: 100%;
    margin: none;
    padding-bottom: none;
}
.explore-episode figcaption {
    padding: 20px 30px;
    background-color: #fff;
    height: 141px;
    display: block;
}
.explore-icon {
    background: #4c4f62;
    width: 41px;
    height: 41px;
    padding: 8px;
    -webkit-background-size: 19px;
    -moz-background-size: 19px;
    background-size: 19px;
    background-position: center;
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
}

/*.card {
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,.6);
    box-shadow: 0 0 1px rgba(0,0,0,.6);
    margin: 1% 0 1% 1.19%;
    border-radius: 1px;
}*/
.card-img-top {
    border-radius: 1px;
}
.card-text {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

#cersei-h1 {
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 300;
}

#cersei-h2 {
    color: #ffffff;
}

.list-group-item {
    border: none;
    background-color: #E0E0E0;
    font-size: 1.5em;
}


/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
}