/* Font Stuff */
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');

@font-face {
    font-family: gothamNarrow;
    src: url(../fonts/GothamNarrow-Book.otf);
}

@font-face {
    font-family: gothamNarrow;
    src: url(../fonts/GothamNarrow-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: gothamNarrow;
    src: url(../fonts/GothamNarrow-Light.otf);
    font-weight: 200;
}

/* Styles */
/* Extra large devices (large desktops) */
/* No media query since the extra-large breakpoint has no upper bound on its width */
body {
    min-width: 100%;
    font-family: gothamNarrow;
    font-size: 14px;
    background-color: #ffffff;
}

.container {
    width: 100%;
}

nav {
    min-height: 48px;
    /*min-width: 320px;*/
    text-transform: uppercase;
    background-color: #323232;
    font-weight: 200;
}

nav ul {
    position: absolute;
    right: 0;

}

nav li {
    list-style-type: none;
    display: inline;
    margin-right: 15px;
    clear: both;
}

.vl {
    border-left: 1px solid #2a2a2a;
    height: 48px;
    margin-left: -3px;
    display: inline-block;
}

nav ul li a {
    color: gray;
    font-size: 1em;
    text-align: center;
    margin: 30px;
}

.cinzel {
    font-family: 'Cinzel', Georgia, 'Times New Roman', serif;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
}

hr {
    background: #8d97d7;
    width: 20%;
    height: 2px;
}

.logo {
    max-height: 24px;
    margin-left: 15px;
}

.img-span {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-width: 100%;
    border-bottom: solid 14px #000;
}

#hero {
    background-image: url('../media/hero-img.jpg');
    height: 636px;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
    border-bottom: solid 14px #000;
}

#hero h1{
    font-size: 1.6rem;
    line-height: .9em;

}

#hero h2 {
    margin-top: 20px;
    font-size: 6rem;
    line-height: .8em;
}

#hero a {
    font-family: 'Oswald'; sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 5em;
}

#hero a:link {
    color: #ffffff;
}

/* visited link */
#hero a:visited {
    color: #ffffff;
}

/* mouse over link */
#hero a:hover {
    color: #ffffff;
}

#hero a:active {
    color: #ffffff;
}

#inside-heading {
    display: table;
    font-size: 4em;
    padding: 25px 0;
    color: #000;
    text-transform: small-caps;
}

#inside {
    background-image: url('../media/inside-img.jpg');
    height: 469px;
    border: none;
}

#inside h1 {
    text-shadow: 2px 2px 2px #000;
    text-transform: uppercase;
    font-size: 4em;
    margin-bottom: 15px;
}

#inside a {
    font-family: 'Oswald'; sans-serif
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.1rem;
    border: solid 1px #ffffff;
    padding: 15px;
}

#inside a:link,
#inside a:visited,
#inside a:hover,
#inside a:active  {
    color: #ffffff;
}

.quote {
    height: 450px;
    text-shadow: none;
}
.quote q {
    font-size: 2.4rem;
    line-height: 1.3em;
}

.quote p {
    font-size: 1rem;
    margin: .5rem;
}

#greyjoy {
    background-image: url('../media/greyjoy-quote.jpg');
    height: 450px;
}

#jon {
    background-image: url('../media/jon-quote.jpg');
    height: 450px;
}

#brienne {
    background-image: url('../media/brienne-quote.jpg');
    height: 450px;
}

#sansa {
    background-image: url('../media/sansa-quote.jpg');
    height: 450px;
}
.explore-episode {
    color: #191919;
    margin-top: 20px;
    margin-bottom: 50px;
}

.explore-episode h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    margin: 2px 0;
    text-transform: capitalize;
}
.explore-episode a {
    color: #191919
}
.explore-episode p {
    font-family: 'gothamNarrow', sans-serif;
    font-size: 0.7rem;
    line-height: 0.9rem;

    text-transform: none;
}

.ep-block {
    padding: 30px;

}

#people-row {
    margin-bottom: 50px;
}

#people-heading {
    display: table;
    font-size: 4em;
    padding: 25px 0;
    color: #000;
    text-transform: small-caps;
}

#cersei-h1 {
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 300;
    font-size: 3rem;
}

#cersei-h2  {
    color: #ffffff;
    font-size: 5rem;
    line-height: 0.9em;
}

#cersei-p {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 300;
}

.card-img-top {
    border-radius: 1px;
}

.card-text {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.people-card {
    padding: 10px 5px 15px 10px;
}

.card-title {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 0.9em;
}

.card-subtitle {
    font-family: 'Oswald', sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    line-height: 0.5em;
    font-weight: 400;
}


.plus {
    line-height: 3rem;
    width: 25%;
    border: none;
    border-radius: 0;
    background-color: #E0E0E0;
    color: #5d5d5d;
    font-size: 1.5rem;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    /*z-index: 0;*/
}

#gallery {
    margin-bottom: 50px;
}
#gallery-heading {
    display: table;
    font-size: 4em;
    padding: 25px 0;
    color: #000;
    text-transform: small-caps;
}

.carousel-caption h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

#locations-heading {
    display: table;
    font-size: 4em;
    padding: 25px 0;
    color: #000;
    text-transform: small-caps;
}

#location-gallery {
    width: 100%;
    /*height: auto;*/
}

#loc-map {
    display: block;
}

.loc-text {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.loc-text h1{
    font-weight: 400;
}

#loc-btn {
    background-color: #212121;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    border-radius: 1px;
    padding: 20px 20px 20px 20px;
    margin-top: 20px;
}

#loc-line {
    border-color: #212121;
    background-color: #212121;
}
#loc-card {
    padding: 20px;
    width: 75%;
    position: relative;
    margin: 0 auto;
}

#loc {
    margin-bottom: 50px;
}

#explore-heading {
    display: table;
    font-size: 4em;
    padding: 25px 0;
    color: #000;
    text-transform: small-caps;
}

.explore-cap {
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 0.8em;
    font-weight: 300;
}

.explore {
    margin-bottom: 50px;
}

footer {
    max-height: 235px;
}

footer li {
    margin: 0 30px;
    font-size: 1.3em;
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
}