/* Box Model Hack */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/* Reset */
body,
ul, ol, li, dl, dt, dd,
h1, h2, h3, h4, h5, h6,
p, td, th, address, blockquote,
pre, code,
form, fieldset, legend, input, textarea {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
fieldset, img {
    border: none;
}
/* Custom Style Declarations Go Below Here */
 